<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStart(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises">
          <mat-select placeholder="Favorite exercise" ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content >
      <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
        <button
          *ngIf="exercises"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Start
        </button>
        <button
          *ngIf="!exercises"
          type="button"
          mat-raised-button
          color="primary"
          (click)="fetchExercises()"
        >Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
