@import '~@angular/material/theming';
@include mat-core();
$candy-app-primary: mat-palette($mat-teal);
$candy-app-accent:  mat-palette($mat-indigo, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-indigo);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include  angular-material-theme($candy-app-theme);
